extends layout
block body
    .container.mx-auto.mt-5
                .card.mx-auto
                    .card-header
                        h2.text-center What you wanna do?
                    .card-body